<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add event Page</title>
  <style>
    html,
    body {
      height: 100%
    }
  </style>
</head>

<body>
  <%- include('../partials/nav.ejs') %>
  <%- include('../partials/chat.ejs') %>

  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <form class="col" action="/admin/event/add" method="POST">
        <!-- <div class="form-group">
          <label for="exampleInputEmail1">_Id</label>
          <input type="text" id="id" name="_id" class="form-control" id="exampleInputEmail1"
            aria-describedby="emailHelp">
        </div> -->
        <div class="form-group">
          <label for="exampleInputPassword1">title</label>
          <input type="text" name="title" class="form-control" id="exampleInputPassword1">
          <small id="emailHelp" class="form-text text-muted">at least 3 characters no numbers</small>

          <% if(message.toString().includes("title")){ %>
            <small class="text-danger">invalid title</small>
          <% } %>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">event_date</label>
          <%var today = new Date();%>
          <%var dd = String(today.getDate()).padStart(2, '0');%>
          <%var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!%>
          <%var yyyy = today.getFullYear();%>
          <%today = yyyy+'-' + mm + '-' +dd ;%>
          <input type="date" required min="<%= today %>" max="2020-12-31"  name="event_date" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">mainSpeaker</label>
          <select class="custom-select" name="mainSpeaker">
            <option selected disabled>Open this select menu</option>
            <% data.forEach((speaker)=>{ %>
            <option value=<%= speaker._id %>> <%= speaker.UserName %></option>
            <% }) %>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">otherSpeakers</label>
          <select class="custom-select" name="otherSpeakers" multiple>
            <% data.forEach((speaker)=>{ %>
            <option value=<%= speaker._id %>> <%= speaker.UserName %></option>
            <% }) %>
          </select>
        </div>
        <button type="submit" class="btn btn-primary">add</button>
      </form>
    </div>
  </div>
</body>

<script src="/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<script src="/js/bootstrap.min.js"></script>
<script>
  
  $(function(){
    $("select[name='mainSpeaker']").on('change',(event)=>{
      console.log($(event.target).val())
      $("select[name='otherSpeakers']>option").show();
      $(`select[name='otherSpeakers']>option[value='${$(event.target).val()}']`).hide();
    })


    $("select[name='otherSpeakers']").on('change',(event)=>{
      $("select[name='mainSpeaker']>option").show();
      $(event.target).val().forEach(element => {
        $(`select[name='mainSpeaker']>option[value='${element}']`).hide();
      });
    })
    
  });

  // function addevent() {
  //   idd = $("#id").val()
  //   $.ajax({
  //     url: "http://localhost:8080/admin/event/add",
  //     method: "POST",
  //     contentType: "application/json",
  //     data: JSON.stringify({id:idd}),
  //     dataType: "json",
  //     timeout: 1000,
  //     success: function (result) { 
  //      },
  //     error: function (error) {
  //       alert("Failed to add")
  //       location.replace("add")
  //      }
  //   })
  // }
</script>

</html>