<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit This Event page</title>
    <style>
        html,
        body {
            height: 100%
        }
    </style>
</head>

<body>
    <%- include('../partials/nav.ejs') %>
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <form class="col" action="/event/editthis" method="POST">
                <div class="form-group">
                    <label for="exampleInputEmail1">_Id</label>
                    <input type="text" readonly value="<%= data._id %>" name="_id" class="form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">title</label>
                    <input type="text" value="<%= data.title %>" name="title" class="form-control"
                        id="exampleInputPassword1">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">event_date</label>
                    <input type="date" value="<%= data.event_date %>" name="event_date" class="form-control"
                        id="exampleInputPassword1">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">mainSpeaker</label>
                    <select class="custom-select" name="mainSpeaker">
                        <option selected disabled>Open this select menu</option>
                        <% speakers.forEach((speaker)=>{ %>
                        <% if(data.mainSpeaker==speaker._id) {%>
                        <option selected value=<%= speaker._id %>> <%= speaker.UserName %></option>
                        <% }else{%>
                        <option value=<%= speaker._id %>> <%= speaker.UserName %></option>
                        <% }%>
                        <% }) %>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">otherSpeakers</label>
                    <select class="custom-select" name="otherSpeakers" multiple>
                        <% speakers.forEach((speaker)=>{%>
                        <%    let selected=false;%>
                        <%    data.otherSpeakers.forEach((otherSpeaker)=>{%>
                        <%        if(otherSpeaker==speaker._id){%>
                        <%           selected=true;%>
                        <%        }%>
                        <%    })%>
                        <%if(selected){%>
                        <option selected value=<%= speaker._id %>> <%= speaker.UserName %></option>
                        <%}else{%>
                        <option value=<%= speaker._id %>> <%= speaker.UserName %></option>
                        <%}%>
                        <%})%>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Edit</button>
            </form>
        </div>
    </div>

</body>
<script src="/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<script src="/js/bootstrap.min.js"></script>
</html>