<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <style>
    html,
    body {
      height: 100%
    }
  </style>
</head>
<body>
  <%- include('../partials/nav.ejs') %>
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <table class="table">
          <thead>
              <tr>
                  <th>_id</th>
                  <th>title</th>
                  <th>event_date</th>
                  <th>mainSpeaker</th>
                  <th>otherSpeakers</th>
                  <th>edit</th>
                  <th>delete</th>
              </tr>
          </thead>
          <tbody>
            <% events_details.forEach((event)=>{ %>
              <tr scope="row">
                <td><%=event._id %></td>
                <td><%=event.title %></td>
                <td><%=event.event_date %></td>
                
                <%if(event.mainSpeaker){ %>
                <td><%=event.mainSpeaker.UserName %></td>
                <% }else{ %>
                  <td></td>
                  <% } %>

                <% let otherSpeaakersArr=[] %>
                <%if(event.otherSpeakers){ %>
                <% event.otherSpeakers.forEach((otherSpeaker)=>{ %>
                <% otherSpeaakersArr.push(otherSpeaker.UserName) %>
                <%})%>
                <td><% otherSpeaakersArr.forEach((other)=>{ %>
                  <li><%= other %> </li>
                  <% }) %></td>
                <% } %>
                <td><a name=<%=event._id %> class="btn btn-primary" href="/event/editthis/<%=event._id %>" role="button">edit</a></td>
                <td><a id="del" onclick="delEvent(<%=event._id%>,this)" name=<%=event._id %> class="btn btn-primary"  role="button">delete</a></td>
              </tr>
            <% }) %>
          </tbody>
      </table>
    </div>
  </div>

</body>
<<<<<<< HEAD
<script>
  function delEvent(idd,button){
    $.ajax({
      url:"http://localhost:8082/event/remove",
      method:"POST",
      contentType:"application/json", 
      data:JSON.stringify({id:idd}), 
      dataType:"json", 
      success:function(result){ 
        console.log(button)
        $(button).parents('tr').remove()
      }, 
      error:function(error){
        console.log('fail')
      }

    })
  }
</script>
=======
>>>>>>> b7f22253336a7a0dd559f4e0fe40f5e8869d84f2
<script src="/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<script src="/js/bootstrap.min.js"></script>
</html>