<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit This speaker page</title>
    <style>
        html,
        body {
            height: 100%
        }
    </style>
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <%- include('../partials/chat.ejs') %>
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <form class="col" action="/admin/speaker/editthis" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="exampleInputEmail1">_Id</label>
                    <input type="text" readonly value="<%= data._id %>" name="_id" class="form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">FullName</label>
                    <input type="text" value="<%= data.FullName %>" name="FullName" class="form-control"
                        id="exampleInputPassword1">
                        <% if(error.toString().includes("FullName")){ %>
                            <small class="text-danger">invalid FullName</small>
                        <% } %>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">UserName</label>
                    <input type="text" readonly value="<%= data.UserName %>" name="UserName" class="form-control"
                        id="exampleInputPassword1">
                    <% if(error.toString().includes("UserName")){ %>
                        <small class="text-danger">invalid UserName</small>
                    <% } %>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input readonly type="Password" value="<%= data.Password %>" name="Password" class="form-control"
                        id="exampleInputPassword1">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">city</label>
                    <input type="text" value="<%= data.Address.city %>" name="city" class="form-control"
                        id="exampleInputPassword1">
                    <% if(error.toString().includes("Address.city")){ %>
                        <small class="text-danger">invalid City</small>
                    <% } %>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">street</label>
                    <input type="text" value="<%= data.Address.street %>" name="street" class="form-control"
                        id="exampleInputPassword1">
                    <% if(error.toString().includes("Address.street")){ %>
                        <small class="text-danger">invalid Address.street</small>
                    <% } %>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">building</label>
                    <input type="text" value="<%= data.Address.building %>" name="building" class="form-control"
                        id="exampleInputPassword1">
                    <% if(error.toString().includes("Address.building")){ %>
                        <small class="text-danger">invalid building</small>
                    <% } %>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Avatar</label>
                    <input type="file" name="avatar" />
                    <% if(error.toString().includes("avatar")){ %>
                        <small class="text-danger">invalid image</small>
                    <% } %>
                </div>
                <button type="submit" class="btn btn-primary">Edit</button>
            </form>
        </div>
    </div>
</body>
<script src="/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<script src="/js/bootstrap.min.js"></script>
</html>