<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>speakers list Page</title>
  <style>
    html,
    body {
      height: 100%
    }
  </style>
</head>
<body>
  <%- include('../partials/nav.ejs') %>
  <%- include('../partials/chat.ejs') %>
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <table class="table">
          <thead>
              <tr>
                  <th>_id</th>
                  <th>Avatar</th>
                  <th>FullName</th>
                  <th>UserName</th>
                  <th>Password</th>
                  <th>city</th>
                  <th>street</th>
                  <th>building</th>
                  <th>edit</th>
                  <th>delete</th>
              </tr>
          </thead>
          <tbody>
            <% speakers_details.forEach((speaker)=>{ %>
              <tr scope="row">
                <td><%=speaker._id %></td>
                <td><img src="/images/<%= speaker.Avatar %>" alt="" style="width: 50px; height: 50px;"></td>
                <td><%=speaker.FullName %></td>
                <td><%=speaker.UserName %></td>
                <td><%=speaker.Password %></td>
                <td><%=speaker.Address.city %></td>
                <td><%=speaker.Address.street %></td>
                <td><%=speaker.Address.building %></td>
                <td><a name=<%=speaker._id %> class="btn btn-primary" href="/admin/speaker/editthis/<%=speaker._id %>" role="button">edit</a></td>
                <td><a id="del" onclick="delspeaker(<%= speaker._id %>,this)" name=<%=speaker._id %> class="btn btn-primary"  role="button">delete</a></td>
              </tr>
            <% }) %>
          </tbody>
      </table>
    </div>
  </div>

</body>
<script>
  function delspeaker(idd,button){
    $.ajax({
      url:"http://localhost:8082/admin/speaker/remove",
      method:"POST",
      contentType:"application/json", 
      data:JSON.stringify({id:idd}), 
      dataType:"json", 
      success:function(result){ 
        $(button).parents('tr').hide('slow')
        // $(button).parents('tr').remove()
      }, 
      error:function(error){
        console.log('fail')
      }

    })
  }
</script>
<script src="/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<script src="/js/bootstrap.min.js"></script>
</html>