<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit This speaker page</title>
    <style>
        html,
        body {
            height: 100%
        }
    </style>
</head>

<body>
    <%- include('../partials/nav2.ejs') %>
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <form class="col" action="/user/edit" method="POST">
                <div class="form-group">
                    <label for="exampleInputEmail1">_Id</label>
                    <input type="text" id="id" readonly value="<%= data._id %>" name="_id" class="form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">FullName</label>
                    <input type="text" id="Uname" value="<%= data.FullName %>" name="FullName" class="form-control"
                        id="exampleInputPassword1">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">UserName</label>
                    <input type="text" value="<%= data.UserName %>" name="UserName" class="form-control"
                        id="exampleInputPassword1">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="Password" value="<%= data.Password %>" name="Password" class="form-control"
                        id="exampleInputPassword1">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">city</label>
                    <input type="text" value="<%= data.Address.city %>" name="city" class="form-control"
                        id="exampleInputPassword1">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">street</label>
                    <input type="text" value="<%= data.Address.street %>" name="street" class="form-control"
                        id="exampleInputPassword1">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">building</label>
                    <input type="text" value="<%= data.Address.building %>" name="building" class="form-control"
                        id="exampleInputPassword1">
                </div>
                <button type="submit" class="btn btn-primary">Edit</button>
            </form>
        </div>
    </div>
    <%- include('../partials/chat.ejs') %>


</body>
<script src="/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<script src="/js/bootstrap.min.js"></script>
<!-- <script>
    function editspeaker() {
      idd = $("#Uname").val()
      $.ajax({
        url: "http://localhost:8080/user/edit",
        method: "POST",
        contentType: "application/json",
        data: JSON.stringify({id:idd}),
        dataType: "json",
        success: function (result) { 
         },
        error: function (error) {
          alert("failed to edit")
         }
      })
    }
</script> -->
</html>