<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>
    <%- include('../partials/nav2.ejs') %>
    <%- include('../partials/chat.ejs') %>


    <div class="container h-100">
      <h1 class="text-center" style="color: brown;">Main Speaker</h1>

      <div class="row h-100 align-items-center">
        <table class="table">
            <thead>
                <tr>
                    <th>_id</th>
                    <th>title</th>
                    <th>event_date</th>
                    <th>mainSpeaker</th>
                    <th>otherSpeakers</th>
                    <th>leave</th>
                </tr>
            </thead>
            <tbody>
              <% mainSpeaker_list.forEach((event)=>{ %>
                <tr scope="row">
                  <td><%=event._id %></td>
                  <td><%=event.title %></td>
                  <td><%=event.event_date %></td>
                  
                  <%if(event.mainSpeaker){ %>
                  <td><%=event.mainSpeaker.UserName %></td>
                  <% }else{ %>
                    <td></td>
                    <% } %>
                  <% let otherSpeaakersArr=[] %>
                  <%if(event.otherSpeakers){ %>
                  <% event.otherSpeakers.forEach((otherSpeaker)=>{ %>
                  <% otherSpeaakersArr.push(otherSpeaker.UserName) %>
                  <%})%>
                  <td><% otherSpeaakersArr.forEach((other)=>{ %>
                    <li><%= other %> </li>
                    <% }) %></td>
                  <% }else{ %>
                    <td></td>
                  <% } %>
                  <td><a id="del" onclick="leaveMain(<%=event._id%>,<%= UserId %>,this)" name=<%=event._id %> class="btn btn-primary"  role="button">leave</a></td>
                </tr>
              <% }) %>
            </tbody>
        </table>


      </div>
      <h1 class="text-center" style="color: brown;">Other Speaker</h1>

        <div class="row h-100 align-items-center">
        <table class="table">
            <thead>
                <tr>
                    <th>_id</th>
                    <th>title</th>
                    <th>event_date</th>
                    <th>mainSpeaker</th>
                    <th>otherSpeakers</th>
                    <th>leave</th>
                </tr>
            </thead>
            <tbody>
              <% otherSpeakers_list.forEach((event)=>{ %>
                <tr scope="row">
                  <td><%=event._id %></td>
                  <td><%=event.title %></td>
                  <td><%=event.event_date %></td>
                  
                  <%if(event.mainSpeaker){ %>
                  <td><%=event.mainSpeaker.UserName %></td>
                  <% }else{ %>
                    <td></td>
                    <% } %>
                  <% let otherSpeaakersArr=[] %>
                  <%if(event.otherSpeakers){ %>
                  <% event.otherSpeakers.forEach((otherSpeaker)=>{ %>
                  <% otherSpeaakersArr.push(otherSpeaker.UserName) %>
                  <%})%>
                  <td><% otherSpeaakersArr.forEach((other)=>{ %>
                    <li><%= other %> </li>
                    <% }) %></td>
                  <% }else{ %>
                    <td></td>
                  <% } %>
                  <td><a id="del" onclick="leaveOthers(<%=event._id%>,<%= UserId %>,this)" name=<%=event._id %> class="btn btn-primary"  role="button">leave</a></td>
                </tr>
              <% }) %>
            </tbody>
        </table>
      </div>
    </div>
</body>
<script>
  function leaveMain(event_id,my_id,button){
    $.ajax({
      url:"http://localhost:8082/user/leavemain",
      method:"POST",
      contentType:"application/json", 
      data:JSON.stringify({"event":event_id,"my_id":my_id}), 
      dataType:"json", 
      success:function(result){ 
        console.log(button)
        $(button).parents('tr').remove()
      }, 
      error:function(error){
        console.log('fail')
      }

    })
  }


  function leaveOthers(event_id,my_id,button){
    $.ajax({
      url:"http://localhost:8082/user/leaveother",
      method:"POST",
      contentType:"application/json", 
      data:JSON.stringify({"event":event_id,"my_id":my_id}), 
      dataType:"json", 
      success:function(result){ 
        console.log(button)
        $(button).parents('tr').remove()
      }, 
      error:function(error){
        console.log('fail')
      }

    })
  }

</script>
<script src="/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<script src="/js/bootstrap.min.js"></script>


</html>